<form method="post" action="{{ path('app_trade_error_delete', {'id': trade_error.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trade_error.id) }}">
    <button class="btn">Delete</button>
</form>
