{% extends 'base.html.twig' %}

{% block title %}Edit Setup{% endblock %}

{% block body %}
    <h1>Edit Setup</h1>

    {{ include('setup/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_setup_index') }}">back to list</a>

    {{ include('setup/_delete_form.html.twig') }}
{% endblock %}
