{% extends 'base.html.twig' %}

{% block title %}New Setup{% endblock %}

{% block body %}
    <h1>Create new Setup</h1>

    {{ include('setup/_form.html.twig') }}

    <a href="{{ path('app_setup_index') }}">back to list</a>
{% endblock %}
